.el-dropdown-link {
    color: #0075c0;
    font-size: 13px;
    font-weight: 600;
}

.el-button {
    border: none !important;
    background-color: transparent !important;
}

.el-button:focus .el-dropdown-link {
    outline: 1px solid #0075c0 !important;
}

.el-button:hover {
    background-color: transparent !important;
}

.el-dropdown__caret-button {
    padding: 0 !important;
    height: 16px !important;
    border-radius: 0 !important;
    color: #0075c0 !important;
}

.el-button-group {
    display: flex !important;
    align-items: center !important;
}

.el-dropdown__caret-button:visited {
    background-color: transparent !important;
    /* outline: 1px solid #0075c0 !important; */
}

.el-dropdown__caret-button:focus {
    background-color: transparent !important;
    outline: 1px solid #0075c0 !important;
}

.el-dropdown-menu__item {
    color: #111111 !important;
    font-size: 13px !important;
}

.el-dropdown-menu__item:focus {
    background-color: #e8e9ec !important;
    color: #08bf1e !important;
}

.el-button.el-dropdown__caret-button::before {
    background: none !important;
}


/* css dropdown thực hiện hàng loạt */

.dropdown-delete {
    border: 2px solid #3b3c3f !important;
    padding: 0 16px !important;
    border-radius: 30px;
    color: #111 !important;
    height: 36px;
    display: flex;
    align-items: center;
}

.dropdown-delete:hover {
    background-color: #d2d3d6 !important;
}

.dropdown-delete-link {
    font-weight: 600;
    color: #111111;
    display: flex;
    align-items: center;
}

.icon-delete-all {
    background-position: -1752px -311px;
}

.delete-link {
    padding-right: 4px;
}

.dropdown-delete-li:hover {
    color: #111111 !important;
}

.dropdown-delete-li:focus {
    color: #111111 !important;
}

.dropdown-delete .el-button-group>.el-button:first-child {
    padding: 0 !important;
}

.dropdown-delete .el-button-group>.el-button:nth-child(2) {
    display: none !important;
}

.el-popper__arrow::before {
    display: none !important;
}

input[type="radio" i]:active {
    outline: auto;
    outline-color: #2ca01c;
}

input[type="radio" i]:focus {
    outline: auto;
    outline-color: #2ca01c;
}

input[type="radio" i]:focus-visible {
    outline: auto;
    outline-color: #2ca01c;
    outline-width: 1px;
}