/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: #F8F8F8;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    /* background: rgb(204, 204, 204); */
    background: #CBCCCF;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    /* background: rgb(204, 204, 204); */
    background: #B0B1B4;
}