@import url(../css/layout/menu.css);
@import url(../css/layout/content.css);
@import url(../css/base/table.css);
@import url(../css/base/pagination.css);
@import url(../css/base/popup.css);
@import url(../css/base/button.css);
@import url(../css/base/message.css);
@import url(../css/layout/header.css);
@import url(../css/base/scrollbar.css);
@import url(../css/base/toast.css);
@import url(../css/base/tooltip.css);
@import url(../css/base/select.css);
@import url(../css/base/dropdown.css);
@import url(../css/base/checkbox.css);
@font-face {
    font-family: inherit;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: italic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
    font-family: regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: semibold;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

body,
html {
    font-size: 13px;
    font-family: regular;
}

body {
    background: #f4f5f8;
    color: #111;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: solid;
    text-decoration-color: initial;
    font-family: inherit;
    font-size: inherit;
}

div {
    display: block;
}

.layout--main {
    display: flex;
}


/* css loading */

.m-loading {
    display: flex;
    z-index: 101;
    position: fixed;
    top: 56px;
    left: 200px;
    right: 0;
    bottom: 0;
    background-color: #0000004f;
}

.el-loading-spinner .path {
    stroke-width: 4 !important;
    stroke: #2ca01c !important;
}

.m-loading-icon {
    margin: auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.width-percent-100 {
    width: 100%;
}

.example-showcase .el-dropdown+.el-dropdown {
    margin-left: 15px;
}

.example-showcase .el-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
}